h1{
	color: white;
	font-family: "comic sans MS", monospace;
}
p{
	color: white;
	font-family: monospace;
	font-size: 15px;
}

h1:hover{
	font-size: 35px;
}
p:hover{
	font-size: 20px;
}
a:hover{
	color: lightblue;
	font-size: 20px;
}
a{
	color: white;
	text-decoration: none;
/*	display: inline-block;*/
	padding: 20px 5px;
	width: 100%;
	font-weight: 100;
/*	letter-spacing: 2px;*/
	font-family: "comic sans ms", cursive;
}