*{
	margin: 0;
	padding: 0;
}
.bar{
	display: flex;
	align-items: center;
	padding: 10px;
	justify-content: space-around;
	background-color: #d3e3e2;
}
.colorBar{
	padding: 5px;
	width: 40%;
	display: flex;
	align-items: center;
}
#color{
	width: 400px;
	margin-right: 20px;
}
.btn{
	font-size: 20px;
	margin-right: 20px;
	padding: 5px 8px;
}
.lineWeightBar{
	padding: 10px;
	width: 40%;
	display: flex;
	align-items: center;
}
.lineW{
	width: 400px;
	margin-right: 20px;
}
.lineWeightBar span{
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
}
#canvas{
	background: white;
	padding: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	display: block;
	z-index: -10;
}
#status{
	position: fixed;
	left: 10;
	bottom: 0;
	font-weight: bold;
	width: 100%;
	margin: 10px;
}