html{
	font-weight: 900;
	font-size: 15px;
	color: rgba(0, 0, 0, 0)
}
body{
	margin: 50px;
}
.item{
	align-items: center;
	display: flex;
	justify-content: center;
/*	border: 1px solid black;*/
	font-size: 35px;
	background-color: white;
	font-family: monospace;
}
p{
	color: rgba(0, 0, 0, 1.0);
}