.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-item {
  text-align: center;
  margin-bottom: 10px;
}

.image-item img {
  width: 200px;
  height: auto;
}

h1{
  color: white;
  text-align: center;
  font-family: "comic sans MS", monospace;
  text-shadow: 1px 1px 5px lightskyblue;
}
h3{
  color: white;
  text-align: center;
  font-family: "comic sans MS", monospace;
  text-shadow: 1px 1px 5px lightskyblue;
}
h4{
  color: white;
  text-align: center;
  font-family: "comic sans MS", monospace;
  text-shadow: 1px 1px 5px lightskyblue;
}
p{
  color: white;
  text-align: center;
  font-family: "comic sans MS", monospace;
  text-shadow: 1px 1px 5px lightskyblue;
}

p:hover{
  font-size: 20px;
  font-family: monospace;
}
h1:hover{
  font-size: 50px;
}
/*img:hover{
  width: 250px;
  height: auto;
}*/
.copyright:hover{
  font-size: 0;

}

.copyright:hover:after{
  content: attr(data-hover);
  font-size: 75px;
  color: #ff0000;
  text-shadow: 1px 1px 5px darkred;
}
a:hover{
  color: lightblue;
  font-size: 20px;
}
a{
  text-align: center;
  text-shadow: 1px 1px 5px lightskyblue;
  color: white;
  text-decoration: none;
/*  display: inline-block;*/
  padding: 20px 5px;
  width: 100%;
  font-weight: 100;
/*  letter-spacing: 2px;*/
  font-family: "comic sans ms", cursive;
}
li{
  list-style: none;
}