h1{
	color: white;
	font-family: "comic sans ms", cursive;
}
h2{
	color: white;
	font-family: "comic sans ms", cursive;
}
p{
	color: white;
	font-family: "comic sans ms", cursive;
}
li{
	list-style: none;
}