img{
	height: 300px;
	width: auto;
}
/*img:hover{
	height: 400px;
	width: 650px;
}*/
.copyright:hover{
	font-size: 0;
}

.copyright:hover:after{
	content: attr(data-hover);
	font-size: 75px;
	color: #ff0000;
}
p{
	color: white;
	font-family: "comic sans MS" cursive;
}
h1{
	color: white;
	font-family: "comic sans MS" cursive;
}
h2{
	color: white;
	font-family: "comic sans MS" cursive;
}