.container{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 0.5fr 1fr 5fr 1fr 0.5fr;
	grid-template-rows: 75px 150px 800px 150px 75px;
	border: 2px solid black;
/*	grid-auto-rows: 100px 150px;*/
/*	grid-auto-columns: 100px 200px;
	grid-auto-flow: column 😭😭😭😭😭😭😭;*/
}